@import url('https://fonts.googleapis.com/css?family=Monoton|Odibee+Sans&display=swap');

:root {
--main-color: black;
font-family: 'Odibee Sans', 'cursive';
}

body {
    max-width: 850px;
    margin: auto;
    background-color: lightgrey;
}

h1, p {
margin: 5px;
padding: 5px;
}

h2 h3 {
    align: center;
}

header nav h1 {
    font-family: 'Monoton', cursive;
    font-size: 3rem;
    color: grey;
    text-transform: capitalize;
    text-align: center;
}

header nav .top-menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    font-size: 24px;
    align-items: center;
}

header nav .top-menu a {
    text-transform: capitalize;
    text-decoration: none;
    border: 3px dotted transparent;
    padding: 5px;
}

header nav .top-menu a:hover {
    border: 3px dotted;
}

@media (min-width: 400px) {
    header nav main footer {
        display: flex;
    }

    header nav main footer {
        flex: 1;
    }

     .banner {
         background-image: url(../img/main-mobile.jpg);
     }
}

header div {
    background-image: url(../img/main-desktop.jpg);
    min-height: 600px;
    background-position: center;
    background-size: cover;
}

header .banner .title {
    font-family: 'Odibee Sans', cursive;
    font-size: 3rem;
}

header .banner {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px; 
}

.product-cart {
    width: 50%;
    height: 50%;
}

button {
    background-color: black;
    color: white;
    border: solid 2px;
    align: center;
}

footer {
    background: white;
    color: black;
}

.footer-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
}

.footer-nav {
    width: 200px;
    height: 100%;
}